p {
  font-family: "Avenir";
  font-size: 16px;
  max-width: 55em;
  padding: 0 5%;
  margin: 0 auto;
  margin-top: 10em;
  margin-bottom: 20em;
  line-height: 1.7em; 
  display: block;
}

.topnav a {
    color: #666666;
    margin-right: 100px;
    float: right;
    padding: 0px -40px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Avenir";
}
.topnav a:hover {
    color: black;
}

h1{
    margin-top: 50px;
    font-family: 'Helvetica Neue';
    text-align: center;
    letter-spacing: 9px;
    padding: 10px;
}

 a {
    color: #666666;
    cursor:pointer;
    text-decoration: none;
  }

h3{
    font-family: 'Avenir';
    padding: 0px 100px;
    color:#000;
    display: flex;
}

.gallery {
 display: flex;
 flex-wrap: wrap;
}

.gallery-image {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

@supports (display: grid) {
 .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 0rem;
 }
.gallery,
 .gallery-item {
  margin: 50px;
 }
}

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.img__description {
  position:absolute;
  width: 100%;
  border: none;
  height: 100%;
  opacity: 0;
  line-height: 400px;
  text-align: center;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 10;
  font-family: 'Avenir';
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 10em;
  margin-top: 22em;
  margin-left: 1em;
}


.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #666666;
  color: white;
  margin-left: 49em;

}

.fa-instagram {
  background: #666666;
  color: white;
}

.fa-dribbble {
  background: #666666;
  color: white;
}

.fa-behance {
  background: #666666;
  color: white;
}
