html {
  font: 100%/1.15 sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  
  html {
    scroll-behavior: smooth;
  }

}

body {
  max-width: 100rem;
  padding: 0 1rem;
  margin: 0 auto;
}

p {
  font-family: "Avenir";
  font-size: 16px;
  max-width: 55em;
  padding: 0 5%;
  margin: 0 auto;
  margin-top: 7em;
  margin-bottom: 20em;
  line-height: 1.7em;
  display: block;
}

/* Navigation */

nav {
  margin-right: -5rem;
}

nav ul {
  text-align: right;
  margin-top: 2em;
  margin-bottom: 5em;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  color: #666666;
  margin-right: 100px;;
  text-decoration: none;
  font-size: 18px;
  font-family: "Avenir";
}

nav a:hover {
  color: black;
}

h1 {
    margin-top: 3em;
    font-family: 'Helvetica Neue';
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 9px;
    padding: 10px;
}

 a {
    color: #666666;
    text-decoration: none;
  }

.gallery {
 display: grid;
}

.gallery-image {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 1rem;
 }

 .gallery-item {
  margin: 5px;
 }

.img__wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.img__description {
  position:absolute;
  width: 100%;
  border: none;
  height: 100%;
  opacity: 0;
  line-height: 400px;
  text-align: center;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 10;
  font-family: 'Avenir';
}

/* Social */

.social {
  margin: 5.125rem; /* 50px */
  text-align: center;
}

.fa {
  font-size: 30px;
  width: 17px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #666;
  padding: 15px;
  border-radius: 50%;
  margin-left: 1em;

}

.fa:hover {
  opacity: 0.7;
}

/* Animations */

video {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}
